.balenciaga{
    text-align: center;
    filter: brightness(10);
}
.bg{
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -9999;
    filter: brightness(50%);
}